<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">

<div class="container">
           <!-- ========== Tabla =========== -->

           <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tasa</th>
                                        <th>Fecha</th>
                                    </tr>
                                    </thead>
                                     <tbody>
                                        <tr *ngFor="let tasa of tasas">
                                            <td>{{ tasa.id_tasa }}</td>
                                            <td>{{ tasa.tasa }}</td>
                                            <td>{{ tasa.fecha }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- end row -->
        
            
        <div role="group" aria-label="Basic example" style="text-align: right;">
            <button (click)="cambiarDesde(-20) " type="button" class="btn btn-default-outline btn-info">Anteriores</button>
            <button (click)="cambiarDesde(20) " type="button" class="btn btn-default-outline btn-info">Siguientes</button>
        </div>
        <!--.container-fluid-->
        <br><br>
        <!-- ========== Fin tabla =========== -->
    </div>
    </div>
    </div>
</div>
