<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">

<div class="container">
            <!--  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tasa : </h4>
                            <input [(ngModel)]="tasa" name="tasa" type="text" placeholder="Tasa..." class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row">
                <div class="col-sm-1 form-group">
                    <button (click)="actualizarConfiguraciones( )" class="btn btn-success">
                        Actualizar
                        </button>
                </div>
            </div>
            <!--  -->
</div>
</div>
</div>
</div>
