<div id="wrapper">
    <div class="content-page">
<!-- <div class="page-content"> -->
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title"> Citas: {{ fecha_cita }} </h3>
                    </div>
                    <div class="col-sm-6">
                      <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary ">
                        <span class="material-icons">
                        refresh
                        </span></button>
                  </div>
                   
                </div>
            </div>

            <!-- ========== Tabla =========== -->

            <div class="container">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Horario</th>
                      <th>Especialista</th>
                      <th>Cliente</th>
                      <th>Servicio</th>
                      <th>Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let hora of horarios">
                      <td>{{ hora.label }}</td>
                      <td>
                        <ng-container *ngFor="let cal of calendario">
                          <div *ngIf="cal.horario === hora.hora">
                            {{ cal.empleado }}
                          </div>
                        </ng-container>
                      </td>
                      <!--  -->
                      <td>
                        <ng-container *ngFor="let cal of calendario">
                          <div *ngIf="cal.horario === hora.hora">
                            {{ cal.cliente }}
                          </div>
                        </ng-container>
                      </td>
                      <!--  -->
                      <td>
                        <ng-container *ngFor="let cal of calendario">
                          <div *ngIf="cal.horario === hora.hora">
                            {{ cal.servicio }}
                          </div>
                        </ng-container>
                      </td>
                      <!--  -->
                      <td>
                          <button class="btn btn-success" type="button" (click)="modal_alta_evento(hora.hora)">
                              <i class="mdi mdi-calendar-plus"></i>                                                           
                          </button>
                          <button class="btn btn-secondary" type="button">
                              <i class="mdi mdi-reorder-horizontal"></i>                                                           
                          </button>
                          <button class="btn btn-primary" type="button" >
                              <i class="mdi mdi-account-edit"></i>   
                          </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
        </section>
        <!--.box-typical-->

    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->
</div>



<!-- Modal - nuevo evento -->
<div class="modal fade" id="modal_nuevo_evento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <br>
      <div class="modal-body">
        <!-- =========== Vendedor ==================  -->
        <div class="row">
          <h5 class="m-t-30">Vendedor : </h5>
            <div class="ng-autocomplete" style="width:450px">
                <ng-autocomplete [data]="empleados" [searchKeyword]="keywordEmpleado" 
                placeholder="Selecciona vendedor" (selected)='selectEventEmpleado($event)' 
                (inputChanged)='onChangeSearchEmpleado($event)' (inputFocused)='onFocused($event)' 
                [itemTemplate]="itemTemplateEmpleado" [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
            </div>
            <ng-template #itemTemplateEmpleado let-item>
              <a [innerHTML]="item.empleado"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <br>
        <!--  -->
        <!-- =========== Cliente ==================  -->
        <div class="row">
          <h5 class="m-t-30">Cliente : </h5>
                  <div class="ng-autocomplete" style="width:450px">
                      <ng-autocomplete 
                      [data]="clientes" 
                      [searchKeyword]="keywordCliente" 
                      placeholder="Selecciona cliente" 
                      (selected)='selectEventCliente($event)' 
                      (inputChanged)='onChangeSearchCliente($event)' 
                      (inputFocused)='onFocusedCliente($event)' 
                      [itemTemplate]="itemTemplateCliente" 
                      [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>
                  </div>
                  <ng-template #itemTemplateCliente let-item>
                      <a [innerHTML]="item.NombreCompleto"></a>
                  </ng-template>
                  <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                  </ng-template>                
        </div>
        <br>
        <!-- =========== Servicio ==================  -->
        <div class="row">
          <h5 class="m-t-30">Servicio : </h5> <br>
          <div class="ng-autocomplete" style="width:450px">
              <ng-autocomplete [data]="servicios" [searchKeyword]="keywordServicio" placeholder="Selecciona servicio" 
              (selected)='selectEventServicio($event)' (inputChanged)='onChangeSearchServicio($event)' 
              (inputFocused)='onFocusedServicio($event)' [itemTemplate]="itemTemplateServicio"
              [notFoundTemplate]="notFoundTemplateServicio">
              </ng-autocomplete>
          </div>
          <ng-template #itemTemplateServicio let-item>
              <a [innerHTML]="item.servicio"></a>
          </ng-template>
          <ng-template #notFoundTemplateServicio let-notFound>
              <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <br><br>
        <!--  -->        
        <div class="row">
          <div class="col-sm-12">
              <label>Descripcion : </label>
              <textarea class="form-control" [(ngModel)]="descripcion_evento" name="observaciones" placeholder="Descripcion..."></textarea>
        </div>
      </div>
      <br>
      <!--  -->
      <div class="modal-footer">
        <button #modalCerrarNuevoEvento type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="alta_evento()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal - baja evento -->
<div class="modal fade" id="modal_baja_evento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar evento</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <!--  -->
    <br>
    <div class="modal-body">      
      <div class="row">
        <h2>¿Desea eliminar el evento?</h2>          
      </div> 
    </div>
    <br>
    <!--  -->
    <div class="modal-footer">
      <button #modalCerrarBajaEvento type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <!-- <button type="button" class="btn btn-primary" (click)="baja_evento()">Aceptar</button> -->
    </div>
  </div>
</div>
</div>
