<div id="wrapper">
    <div class="content-page">
<!-- <div class="page-content"> -->
    <div class="container-fluid">
        <section class="box-typical">
            <!-- ===================== -->
            <div class="row">
                <div class="col-sm-4">
                    <label for="start">Fecha Inicio : &nbsp;</label>
                    <input type="date" [(ngModel)]="fecha_inicio" class="form-control" required> &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-sm-4">
                    <label for="start">Fecha Fin : &nbsp;</label>
                    <input type="date" [(ngModel)]="fecha_fin" class="form-control" required> &nbsp;&nbsp;&nbsp;&nbsp;
                </div>    
            </div>
            <!--  -->
            <div class="row">
                <div class="col-sm-4">
                    <label>Especialista : </label>
                    <select tabindex="4" (ngModelChange)='onChangeEspecialista($event)' [(ngModel)]="IdEspecialistaSelect" name="IdEspecialistaSelect" class="form-control">
                        <option *ngFor="let especialista of especialistas" [value]="especialista.id_persona">
                            {{especialista.apellidos}} , {{especialista.nombres}} ( {{especialista.nro_identidad}} )
                        </option>
                    </select>
                </div>
                <div class="col-sm-4" style="padding-top: 30px;">
                    <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary ">
                        <i class="mdi mdi-refresh"></i> 
                    </button>
                </div>       
            </div>
            <!-- ===================== -->
            <br><br>
            <!-- ========== Tabla =========== -->
              

             <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="responsive-table-plugin">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Cliente</th>
                                            <th>Fecha</th>
                                            <th>Cod. Serv.</th>
                                            <th>Servicio</th>
                                            <th>Subtotal</th>
                                            <th>Comision Serv.</th>
                                        </tr>
                                        </thead>
                                         <tbody>
                                            <tr *ngFor="let comision of comisiones">
                                                <td>{{ comision.id_transaccion }}</td>
                                                <td>{{ comision.cliente }}</td>
                                                <td>{{ comision.fecha }}</td>
                                                <td>{{ comision.codigo_serv }}</td>
                                                <td>{{ comision.servicio }}</td>
                                                <td>$ {{ comision.monto }}</td>
                                                <td>{{ comision.comision_serv }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end row -->
            
            <!-- ========== Fin tabla =========== -->
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-20) " type="button" class="btn btn-default-outline btn-info">Anteriores</button>
        <button (click)="cambiarDesde(20) " type="button" class="btn btn-default-outline btn-info">Siguientes</button>
    </div>
    
    <br><br>
    <!--.container-fluid-->
</div>
<!--.page-content-->
</div>
