<div id="wrapper">
    <div class="content-page">
<!-- <div class="page-content"> -->
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">                    
                    <div class="col-sm-4 form-group">
                        <label>Estado : </label>
                        <select [(ngModel)]="estado_voucher" class="form-control">
                            <option value="T">Todos</option>
                            <option value="P">Pendientes</option>
                            <option value="C">Confirmados</option>
                          </select>
                    </div>
                    <div class="col-sm-1 form-group" style="margin-top: 25px;">
                        <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary ">
                            <i class="mdi mdi-refresh"></i> 
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title">Cantidad vouchers ( {{ cantidad_vouchers }} )</h3>
                    </div>
                </div>
            </div>

             <!-- ========== Tabla =========== -->

             <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="responsive-table-plugin">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Fecha</th>
                                            <th>Cliente</th>
                                            <th>Monto</th>
                                            <th>Descripcion</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                         <tbody>
                                            <tr *ngFor="let voucher of vouchers" [ngClass]="{'table-danger': ((voucher.estado) == 'Pendiente')}">
                                                <td>{{ voucher.id_transaccion }}</td>
                                                <td>{{ voucher.fecha }}</td>
                                                <td>{{ voucher.cliente }}</td>
                                                <td>$ {{ voucher.monto }}</td>
                                                <td>{{ voucher.descripcion }}</td>
                                                <td>{{ voucher.estado }}</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-confirmar-transaccion" [disabled]="(voucher.estado) == 'Confirmado'" (click)="modal_confirmar_voucher(voucher.id_transaccion)">
                                                        <i class="mdi mdi-check"></i>                                                           
                                                    </button>
                                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="modal_baja_voucher(voucher.id_transaccion)" >
                                                        <i class="mdi mdi-delete"></i>  
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end row -->
            
            <!-- ========== Fin tabla =========== -->
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-20) " type="button" class="btn btn-default-outline btn-info">Anteriores</button>
        <button (click)="cambiarDesde(20) " type="button" class="btn btn-default-outline btn-info">Siguientes</button>
    </div>
    
    <br><br>
    <!--.container-fluid-->
</div>
<!--.page-content-->
</div>

<!-- Modal baja voucher -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Confirmacion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea confirmar la operacion?
           
        </div>
       
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" (click)="baja_voucher()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Atencion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Eliminacion exitosa
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
          <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Aceptar</button> -->
        </div>
      </div>
    </div>
  </div>
  
<!-- Modal confirmar voucher  -->
<div class="modal fade" id="modal-confirmar-transaccion" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Confirmacion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea confirmar la operacion?
           <!-- ========== Empleado ============ -->
           <div class="row">
            <div class="col-md-6">
                <h5 class="m-t-30">Empleado : </h5>
                <div class="ng-autocomplete" style="width:450px">
                    <ng-autocomplete [data]="empleados" [searchKeyword]="keywordEmpleado" placeholder="Selecciona empleado" (selected)='selectEventEmpleado($event)' (inputChanged)='onChangeSearchEmpleado($event)' [itemTemplate]="itemTemplateEmpleado" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                </div>
                <ng-template #itemTemplateEmpleado let-item>
                    <a [innerHTML]="item.empleado"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
          </div>
          <!-- ========== Empleado ============ -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            <button class="btn btn-danger" [disabled]="habilitar_boton_confirmar_voucher" data-bs-target="#modal-aviso-confirmar-voucher" data-bs-toggle="modal" (click)="confirmar_voucher()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-aviso-confirmar-voucher" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Atencion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Voucher cofirmado
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
          <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Aceptar</button> -->
        </div>
      </div>
    </div>
  </div>
  