
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">

<div class="">
    <h3 class="">Cliente : {{ apellidos }},{{ nombres }}</h3>
</div>

<div class="row">

    <div class="col-xl-3 col-md-6">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-4">Saldo</h4>
            <div class="widget-chart-1">
                <div class="widget-detail-1 text-right">
                    <h2 class="font-weight-normal pt-2 mb-1"> $ {{ saldo }} </h2>
                    <p class="text-muted mb-1">Saldo</p>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-4">Movimientos</h4>
            <div class="widget-box-1">
                <div class="widget-detail-1 text-right">
                    <h2 class="font-weight-normal pt-2 mb-1"> {{ totalMovimientos }} </h2>
                    <p class="text-muted mb-1">Movimientos</p>
                </div>              
            </div>
        </div>
    </div><!-- end col -->
</div>
<!--  -->
<div class="row">
    <div class="col-sm-4">
        <button data-toggle="modal" data-target="#responsive-modal" type="button" (click)="acreditar()" class="btn btn-success btn-rounded width-md waves-effect waves-light">
            <i class="mdi mdi-plus"></i> 
            Acreditar
          </button>
    </div>
</div>
<br>
<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <!-- ============================= -->
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movimiento of movimientos">
                            <td>{{ movimiento.id_transaccion }}</td>
                            <td>{{ movimiento.fecha }}</td>
                            <td>$ {{ movimiento.monto_total }}</td>
                            <td>{{ movimiento.tipo }}</td>
                            <td>{{ movimiento.descripcion }}</td>
                        </tr>

                    </tbody>
                </table>
                <!-- ============================= -->

            </div>
        </section>
        <!--.box-typical-->
    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-15) " type="button" class="btn btn-secondary">Anteriores</button>
        <button (click)="cambiarDesde(15)" type="button" class="btn btn-secondary">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->
<br><br><br>
<!-- =========== MODAL =========== -->
<div class="col-md-4" *ngIf="activarModal">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Acreditar - Cuenta corriente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Monto : </label>
                                <input type="text" [(ngModel)]="monto" name="monto" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>Tipo pago : </label>
                                <select (ngModelChange)='onChangeTipoPago($event)' [(ngModel)]="IdTipoPagoSelect" name="IdTipoPago" class="form-control">
                                    <option *ngFor="let tp of tiposPago" [value]="tp.id_tipo_pago">
                                        {{tp.tipo_pago}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Descripcion : </label>
                                <textarea [(ngModel)]="descripcion" name="Descripcion" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button #divCerrarModal type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" (click)="guardarAcreditacion()" class="btn btn-danger waves-effect waves-light">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- <button class="btn btn-lg btn-outline-primary" alt="default" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive">Continuar</button> -->

</div>
<!--  -->
</div>
</div>