
<div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">
        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a href="index.html" class="logo logo-dark text-center">
                <span class="logo-lg">
                    <img src="../../../../assets/images/logo_estetica.jpg" alt="" height="60">
                </span>
                <span class="logo-sm">
                    <img src="../../../../assets/images/logo_estetica.jpg" alt="" height="24">
                </span>
            </a>
            <a href="index.html" class="logo logo-light text-center">
                <span class="logo-lg">
                    <img src="../../../../assets/images/logo_estetica.jpg" alt="" height="60">
                </span>
                <span class="logo-sm">
                    <img src="../../../../assets/images/logo_estetica.jpg" alt="" height="24">
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
            <li>
                <button class="button-menu-mobile disable-btn waves-effect">
                    <i class="fe-menu"></i>
                </button>
            </li>
        </ul>

    </div>
    <!-- end Topbar -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">
 
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- ========== form =========== -->

                <div class="container">
                    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaCliente()">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Apellidos : </label>
                                <input formControlName="Apellidos" name="Apellidos" type="text" placeholder="Apellidos..." class="form-control" maxLength="30">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Nombres : </label><input formControlName="Nombres" name="Nombres" type="text" placeholder="Nombres" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>DNI : </label><input formControlName="DNI" name="DNI" type="text" placeholder="DNI" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Telefono : </label><input formControlName="Telefono" name="Telefono" type="text" placeholder="Telefono" class="form-control">
                            </div>                          
                            <div class="col-sm-6 form-group">
                                <label>Email : </label><input formControlName="Email" name="Email" type="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Direccion : </label><input formControlName="direccion" name="direccion" type="text" placeholder="Direccion..." class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Fecha nacimiento : </label><input formControlName="fecha_nac" name="fecha_nac" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Observaciones : </label>
                                <textarea formControlName="Observaciones" name="Observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Cliente</button>
                        <br>
                    </form>
                </div>
                
                <!-- ========== Fin form =========== -->

            </div> <!-- container-fluid -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>