<div id="wrapper">

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
    <div class="content-page">
        <div class="row">
          <div class="col-sm-4">
            <table id="table-edit" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                          <h4>Resumen citas</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                          <h5> Citas pendientes: {{ citas_pendientes }} </h5>  <br>
                          <h5> Citas del Mes : {{ citas_mes }} </h5> <br>
                          <h5> Citas de Hoy : {{ citas_hoy }} </h5> <br>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="col-sm-8">
            <div class="content">
              <full-calendar [options]="calendarOptions" (datesSet)="onDatesSet($event)"></full-calendar>
            </div>
          </div>
        </div>
    </div>
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
</div>