<div id="wrapper">

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
    <div class="content-page">
        <div class="row">
          <div class="col-sm-4">
            <table id="table-edit" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                          <h4>Resumen citas</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                          <h5> Citas pendientes: {{ citas_pendientes }} </h5>  <br>
                          <h5> Citas del Mes : {{ citas_mes }} </h5> <br>
                          <h5> Citas de Hoy : {{ citas_hoy }} </h5> <br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--  -->
          </div>
          <!-- === Calendario ===  -->
          <div class="col-sm-8">
            <div class="content">
              <div *ngIf="cargando">
                Cargando eventos... <!-- O puedes usar un spinner o cualquier otro indicador -->
              </div>
              <div *ngIf="!cargando">
              <full-calendar [options]="calendarOptions" (datesSet)="onDatesSet($event)"></full-calendar>
            </div>
            </div>
          </div>
          <!-- === Fin calendario === -->
        </div>
        <br><br>
        <!-- === Tabla con eventos === -->
        <div class="row">          
           <table id="table-edit" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="start">Inicio :</label>
                          <input type="date" class="form-control" [(ngModel)]="fechaInicio">
                        </div>
                        <!--  -->
                        <div class="col-sm-6">
                          <label for="start">Fin : &nbsp;</label>
                          <input type="date" class="form-control" [(ngModel)]="fechaFin">
                        </div>
                        <!--  -->
                        <div class="col-sm-4">
                          <button (click)="refrescar_citas()" class="btn btn-primary" style="margin-top: 30px;">
                              <i class="mdi mdi-refresh"></i> 
                          </button>
                        </div>
                        <!--  -->
                      </div>
                    </th>
                </tr>
            </thead>
            <tbody>
              <table id="tech-companies-1" class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Horario</th>
                        <th>Especialista</th>
                        <th>Cliente</th>
                        <th>Servicio</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cal of calendario_fechas">
                        <td>{{ cal.id_evento_principal }}</td>
                        <td>{{ cal.date }}</td>
                        <td>{{ cal.empleado }}</td>
                        <td>{{ cal.cliente }}</td>
                        <td>{{ cal.servicio }}</td>
                        <td>{{ cal.estado_evento }}</td>
                        <td>
                            <!--  -->
                          <button class="btn btn-warning" type="button" data-bs-toggle="modal" 
                            data-bs-target="#modalBajaCita"
                            (click)="modal_baja_evento(cal.id_evento_principal)">
                              <i class="mdi mdi-calendar-remove"></i>  
                          </button>
                          <!--  -->
                          <button class="btn btn-danger" type="button" data-bs-toggle="modal" 
                            data-bs-target="#modalEliminarCita"
                            (click)="modal_baja_evento(cal.id_evento_principal)">
                              <i class="mdi mdi-delete"></i>  
                          </button>
                          <!--  -->
                        </td>
                    </tr>
                </tbody>
            </table>
            </tbody>
        </table>
        <!-- === Fin tabla con eventos === -->
        </div>
    </div>
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
</div>


<!--  -->
<div class="modal fade" id="modalEliminarCita" aria-hidden="true" aria-labelledby="modalEliminarCita" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Confirmacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea confirmar la operacion?
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" #divCerrarModalEliminarEvento aria-label="Close" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger" (click)="eliminar_evento_calendario()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!--  -->
<div class="modal fade" id="modalBajaCita" aria-hidden="true" aria-labelledby="modalBajaCita" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Confirmacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea confirmar la operacion?
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" #divCerrarModalBajaEvento aria-label="Close" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger" (click)="baja_evento_calendario()">Aceptar</button>
      </div>
    </div>
  </div>
</div>