<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Servicio : </label>
                            <input tabindex="1" [(ngModel)]="servicio" name="servicio" required type="text" placeholder="Servicio..." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Precio : </label>
                            <input tabindex="1" [(ngModel)]="precio" name="precio" required type="text" placeholder="Precio..." class="form-control">
                        </div>
                    </div>         
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Descripcion : </label>
                    <textarea tabindex="18" [(ngModel)]="descripcion" name="descripcion" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
                </div>
            </div>
            <br>
            <button type="submit" tabindex="19" class="btn btn-info btn-lg btn-block text-uppercase" (click)="update_servicio()">Cargar Servicio</button>
            <br>
        </div>
    <!-- ============================================================== -->
    <!-- End Page Content here -->
    <!-- ============================================================== -->
</div>
</div>