<div id="wrapper">
    <div class="content-page">
<!-- <div class="page-content"> -->
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Servicio:  </label>
                        <input (keyup.enter)="buscarServicio( )" #inputServicioBuscado type="text" class="form-control" placeholder="Buscar por codigo o servicio..." id="buscarServicio">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarServicio( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="mdi mdi-search-web"></i> 
                            </button>
                    </div>
                    <div class="col-sm-1 form-group" style="margin-top: 25px;">
                        <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary ">
                            <i class="mdi mdi-refresh"></i> 
                        </button>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sucursal : </label>
                        <select tabindex="4" [(ngModel)]="IdSucursal" name="IdSucursal" class="form-control">
                                <option *ngFor="let sucursal of sucursales" [value]="sucursal.id_sucursal">
                                    {{sucursal.sucursal}}
                                </option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title">Cantidad servicios ( {{totalServicios }} )</h3>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-sm-4">
                        <button [routerLink]="['/dashboard/servicios/nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="mdi mdi-plus"></i> 
                            Nuevo Servicio
                        </button>
                    </div>
                </div>
            </div>

             <!-- ========== Tabla =========== -->

             <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="responsive-table-plugin">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Servicio</th>
                                            <th>Precio</th>
                                            <th>Descripcion</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                         <tbody>
                                            <tr *ngFor="let servicio of servicios">
                                                <td>{{ servicio.id_servicio }}</td>
                                                <td>{{ servicio.servicio }}</td>
                                                <td>$ {{ servicio.precio }}</td>
                                                <td>{{ servicio.descripcion }}</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button" [routerLink]="['/dashboard/servicios/editar',servicio.id_servicio]">
                                                        <i class="mdi mdi-account-edit"></i>                                                           
                                                    </button>
                                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="modal_baja_servicio(servicio.id_servicio)" >
                                                        <i class="mdi mdi-delete"></i>  
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end row -->
            
            <!-- ========== Fin tabla =========== -->
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-20) " type="button" class="btn btn-default-outline btn-info">Anteriores</button>
        <button (click)="cambiarDesde(20) " type="button" class="btn btn-default-outline btn-info">Siguientes</button>
    </div>
    
    <br><br>
    <!--.container-fluid-->
</div>
<!--.page-content-->
</div>


<!--  -->
<!-- <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Confirmacion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea confirmar la operacion?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            <button class="btn btn-danger" data-bs-toggle="modal" (click)="baja_servicio()">Aceptar</button>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  
<!-- Modal -->
<div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalToggleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Atencion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea confirmar la operacion?
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" #divCerrarModalBajaServicio data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="baja_servicio()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  