<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

<div class="content-page">
    <div class="content">

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Tipo Servicio : </label>
                    <select tabindex="4" [(ngModel)]="id_cat_servicio" name="id_cat_servicio" class="form-control">
                            <option *ngFor="let categoria_s of categorias_serv" [value]="categoria_s.id_categoria_serv">
                                {{categoria_s.categoria_serv}}
                            </option>
                        </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Servicio : </label>
                    <input tabindex="1" [(ngModel)]="servicio" name="servicio" required type="text" placeholder="Servicio..." class="form-control">
                </div>
            </div>
            <!--  -->
            <div class="row" *ngIf="id_rol == 1">
                <!-- solo acceso para usuario admin -->
                <div class="col-sm-6 form-group">
                    <label>Precio : </label>
                    <input tabindex="2" [(ngModel)]="precio" name="precio" required type="number" placeholder="Precio..." class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Comision % : </label>
                    <input [(ngModel)]="comision" name="comision" required type="number" 
                    placeholder="Comision..." class="form-control" min="1" max="99">
                             </div>
            </div>
            <!--  -->
        </div>
        
    </div>
    <!--  -->
    <div class="col-sm-12 form-group">
        <label>Descripcion : </label>
        <textarea tabindex="3" [(ngModel)]="descripcion" name="descripcion" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
    </div>
    <!--  -->
    <br>
    <button type="submit" tabindex="4" class="btn btn-info btn-lg btn-block text-uppercase" (click)="altaServicio()">Cargar Servicio</button>
    <br>
</div>

</div>
</div>

