<div id="wrapper">
    <div class="content-page">
<!-- <div class="page-content"> -->
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="card-title">Cantidad egresos ( {{ totalEgresos }} )</h3>
                    </div>
                    <div class="col-2">
                        <button (click)="refrescar()" class="btn waves-effect waves-light btn-rounded btn-primary ">
                            <i class="mdi mdi-refresh"></i> 
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-success" style="text-align: center; display: block; margin: 0 auto;" data-toggle="modal" data-target="#responsive-modal-alta-egreso">
                            <i class="mdi mdi-plus"></i> 
                            Nuevo Egreso
                        </button>
                    </div>
                </div>
            </div>

             <!-- ========== Tabla =========== -->

             <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="responsive-table-plugin">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Descripcion</th>
                                            <th>Monto</th>
                                            <th>Tipo de egreso / Gasto</th>
                                        </tr>
                                        </thead>
                                         <tbody>
                                            <tr *ngFor="let egreso of egresos">
                                                <td>{{ egreso.id_transaccion }}</td>
                                                <td>{{ egreso.descripcion }}</td>
                                                <td>{{ egreso.monto }}</td>
                                                <td> {{ egreso.tipo_egreso }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end row -->
            
            <!-- ========== Fin tabla =========== -->
        </section>
        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-20) " type="button" class="btn btn-default-outline btn-info">Anteriores</button>
        <button (click)="cambiarDesde(20) " type="button" class="btn btn-default-outline btn-info">Siguientes</button>
    </div>
    
    <br><br>
    <!--.container-fluid-->
</div>
<!--.page-content-->
</div>

<!-- =========== MODAL NUEVO egreso =========== -->
<div class="col-md-4">
    <div id="responsive-modal-alta-egreso" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo egreso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Tipo Egreso : </label>
                            <select (ngModelChange)='onChangeTipoEgreso($event)' [(ngModel)]="id_tipo_egreso" name="id_tipo_egreso" class="form-control">
                                <option value="1">Gastos de Nomina Empleados</option>
                                <option value="2">Gastos Alquiler Local</option>
                                <option value="3">Gastos Servicios de Electricidad</option>
                                <option value="4">Gastos Servicio de Internet</option>
                                <option value="5">Gastos Servicio de Agua</option>
                                <option value="6">Gastos Varios</option>
                                <option value="7">Gastos Material Oficina</option>
                                <option value="8">Gastos Productos de Limpieza Mantenimiento</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Monto : </label>
                            <input [(ngModel)]="monto_egreso" name="Monto" type="text" placeholder="Monto..." class="form-control" maxLength="30">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Descripcion : </label>
                            <textarea [(ngModel)]="descripcion_egreso" name="Descripcion" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #botonCerrarModalAltaEgreso type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success waves-effect waves-light" (click)="alta_egreso()">Cargar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>
