<div class="page-content">
    <div class="container-fluid">
        <section class="box-typical">
            <div class="table-responsive">
                <div class="row">

                    <div class="col-sm-4 form-group">
                        <label>Cliente:  </label>
                        <input (keyup.enter)="buscarClientes( )" #input type="text" class="form-control" placeholder="Buscar cuenta..." id="clienteBuscado">
                    </div>
                    <div class="col-sm-1 form-group">
                        <button (click)="buscarClientes( )" class="btn btn-primary" style="margin-top: 26px;">
                            <i class="material-icons">
                                search
                                </i>
                            </button>
                    </div>
                    <div class="col-sm-2">
                        <button [routerLink]="['/dashboard/clientes/cuentas/nueva']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary" style="border-top-width: 0px;border-top-style: solid;margin-top: 30px;">
                          <i class="fa fa-plus"></i> 
                          Nueva Cuenta
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title">Cantidad clientes ( <small> {{ totalClientes }} </small> )</h3>
                    </div>
                </div>
                <table id="table-edit" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="1">
                                #
                            </th>
                            <th>Apellidos</th>
                            <th>Nombres</th>
                            <th>DNI</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let clienteCuenta of clientes">
                            <td>{{ clienteCuenta.IdPersona }}</td>
                            <td>{{ clienteCuenta.Apellidos }}</td>
                            <td>{{ clienteCuenta.Nombres }}</td>
                            <td>{{ clienteCuenta.DNI }}</td>
                            <td>{{ clienteCuenta.Telefono }}</td>
                            <td>{{ clienteCuenta.Email }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-inline btn-success" type="button" [routerLink]="['/dashboard/clientes/cuentas/movimientos',clienteCuenta.IdPersona]">
                                        <i class="material-icons"> wysiwyg </i>
                                    </button>
                                    <button class="btn btn-inline btn-warning" type="button" [routerLink]="['/dashboard/clientes/cuentas',clienteCuenta.IdPersona]">
                                        <i class="material-icons"> edit </i>
                                    </button>    
                                    <button class="btn btn-inline btn-danger" type="button" (click)="bajaCliente(clienteCuenta.IdPersona)">
                                        <i class="material-icons"> delete </i>
                                    </button>
                                </div>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!--.box-typical-->

    </div>
    <div role="group" aria-label="Basic example" style="text-align: right;">
        <button (click)="cambiarDesde(-10) " type="button" class="btn btn-default-outline">Anteriores</button>
        <button (click)="cambiarDesde(10) " type="button" class="btn btn-default-outline">Siguientes</button>
    </div>
    <!--.container-fluid-->
</div>
<!--.page-content-->