
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="content-page">
        <div class="content">
 
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- ========== form =========== -->

                <div class="container">
                    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaUsuario()">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Apellidos : </label>
                                <input formControlName="Apellidos" name="Apellidos" type="text" placeholder="Apellidos..." class="form-control" maxLength="30">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Nombres : </label><input formControlName="Nombres" name="Nombres" maxLength="30" type="text" placeholder="Nombres" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Codigo : </label><input formControlName="codigo" name="codigo" type="text" placeholder="Codigo..." class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Telefono : </label><input formControlName="Telefono" name="Telefono" type="text" min="1" maxLength="15" step="1" placeholder="Telefono" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Cedula : </label><input formControlName="cedula" name="cedula" type="text" min="1" maxLength="10" step="1" placeholder="cedula..." class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Email : </label><input formControlName="Email" name="Email" type="email" maxLength="30" placeholder="Email" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Direccion : </label><input formControlName="direccion" name="direccion" type="text" placeholder="Direccion..." class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Fecha nacimiento : </label><input formControlName="fecha_nac" name="fecha_nac" type="date" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Rol : </label>
                                <select formControlName="id_rol" name="id_rol" class="form-control">
                                    <option [value]="1">Admin</option>
                                    <option [value]="2">Ventas</option>
                                    <option [value]="5">Vendedor/Especialista</option>
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Contraseña : </label><input formControlName="contrasena" name="contrasena" type="password" class="form-control" placeholder="Contraseña...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Observaciones : </label>
                                <textarea formControlName="observaciones" name="observaciones" type="textarea" placeholder="Observaciones..." rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Usuario</button>
                        <br>
                    </form>
                </div>
                
                <!-- ========== Fin form =========== -->

            </div> <!-- container-fluid -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>