<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <div class="content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Tipo Servicio : </label>
                            <input tabindex="1" [(ngModel)]="tipo_servicio" name="tipo_servicio" required type="text" placeholder="Tipo Servicio..." class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Descripcion : </label>
                    <textarea tabindex="18" [(ngModel)]="descripcion_tipo_servicio" name="descripcion_tipo_servicio" type="textarea" placeholder="Descripcion..." rows="3" class="form-control"></textarea>
                </div>
            </div>
            <br>
            <button type="submit" tabindex="19" class="btn btn-info btn-lg btn-block text-uppercase" (click)="update_tipo_servicio()">Cargar Tipo Servicio</button>
            <br>
        </div>
    <!-- ============================================================== -->
    <!-- End Page Content here -->
    <!-- ============================================================== -->
</div>
</div>